<div class="row">
    <div class="col-1">
        <img class="ml-2 mt-2" alt="logo ccb" src="assets/img/cc.png">

    </div>
    <div class="col-11">

        <mat-toolbar color="primary" id="main">
            <mat-toolbar-row>



                <mat-icon *ngIf="menu" (click)="offMenu()" class="flecha mr-3">arrow_back</mat-icon>
                <mat-icon *ngIf="!menu" (click)="onMenu()" aria-label="Expandir menú" class="menu mr-3">menu</mat-icon>

                <mat-icon class="expandir" (click)="expandir()">filter_none</mat-icon>


                <div class="flex fullCenter opciones">
                    <div *ngIf="cuf !== null" class="opciones__cuf">
                        <span>Código Único de Formulario (CUF)</span>
                        <label>RN0819LXQK</label>
                    </div>
                    <div class="opc">

                        <a [href]="contactenos" class="mr-3">
                            <mat-icon aria-label="Mensaje">question_answer</mat-icon>
                        </a>


                        <mat-icon aria-label="Salir" class="salir" (click)="logout();">exit_to_app</mat-icon>
                    </div>
                </div>


            </mat-toolbar-row>

        </mat-toolbar>
    </div>
</div>