a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
    font-family: Maven pro;
    text-decoration: none;
}

mat-toolbar {
    position: relative;
    @media screen and (max-width: 580px) {
        height: 126px;
    }
}

img {
    width: 100%;
    max-width: 90px;
    min-width: 30px;
    max-height: 50px;
    min-height: 40px;
}

.opciones {
    position: absolute;
    right: 30px;
    top: 0px;
    height: 100%;
    @media screen and (max-width: 580px) {
        margin-top: 100px;
        position: relative;
        margin-left: -150px;
    }
}

.opciones__cuf {
    float: left;
    text-align: center;
    margin-top: 5px;
    margin-right: 10px;
}

.opc {
    float: right;
    margin-top: 20px;
}

span {
    font-size: 13px;
}

label {
    display: block;
    margin-top: -17px;
    font-family: Corisande-Bold, "Helvetica Neue", sans-serif;
}

.menu,
.flecha,
.expandir,
.salir {
    cursor: pointer;
}