<app-header (openMenu)="menu($event)" (closeMenu)="flecha($event)"></app-header>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-2 m-0 p-0">
            <app-navbar [abrirmenu]="menrecibido" [cerrarmenu]="menrecibido"></app-navbar>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-9">
            <app-firma></app-firma>

        </div>
    </div>
</div>