#circulo {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#circulo>p {
    font-family: sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding-top: 15px;
}

.normal {
    margin-left: -2em;
    background: #3f51b5;
    color: white;
    border-radius: 3px;
}

.forma {
    width: 0%;
    height: 0%;
    line-height: 0%;
    border-left: 1.3em solid transparent;
    border-top: 20px solid gray;
    position: absolute;
    top: 100%;
    left: 0%;
}

button {
    background: #E91E63;
    color: white;
}