<div class="container mt-3">

    <mat-card>
        <div class="row">

            <div class="col-md-6">
                <h5 class="normal p-2 pl-4 col-sm-5 col-md-5 col-lg-4 z-depth-2"><b>Firma</b><span class="forma"></span></h5>
                <!-- <hr/> -->
            </div>

            <div class="col-md-5">
                <div class="row float-right">

                    <p class="mr-3">Paso</p>
                    <div id="circulo">
                        <p>2</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="alert alert-info mt-2" role="alert">
            Razón Social: <b>BANCO DE OCCIDENTE</b><br> NIT: <b>890300279</b><br> Número Único de Formulario (CUF): <b>RN0819LXQK</b>

        </div>
        <hr>
        <div class="alert alert-info" role="alert">
            <div class="row">
                <mat-icon>info</mat-icon>
                <p class="info mt-1">En la columna SELECCIONE, marque para firmar electrónicamente. Para consultar antes de la firma, haga clic sobre el icono <i class="fas fa-file-pdf"></i></p>
            </div>
        </div>

        <div>
            <app-table (messageEvent)="receiveMessage($event)"></app-table>
        </div>

        <div class="alert alert-info mt-2" role="alert">
            Tenga en cuenta que al hacer clic sobre el botón firmar, el documento será firmado electrónicamente haciendo uso de su clave virtual, la cual es personal e intransferible y se entenderá que usted acepta el contenido del documento.
        </div>

        <div class="row">

            <button mat-button class="m-auto" (click)="conf()" *ngIf="!disabled"><mat-icon color="white">check_box</mat-icon>Firmar</button>
        </div>

    </mat-card>
</div>