.row {
    padding-left: 30px;
}

#circulo {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border-color: gray;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#circulo>p {
    font-family: sans-serif;
    color: gray;
    font-size: 1rem;
    font-weight: bold;
    padding-top: 15px;
}

h6 {
    padding-top: 4px;
    padding-left: 5px;
}

a:link {
    text-decoration: none;
    color: gray;
}

a:visited {
    color: gray;
    font-family: Maven pro;
    text-decoration: none;
}

.firma {
    width: 120px;
    background-color: #3F51B5;
}

#circulo1 {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border-color: white;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#circulo1>p {
    font-family: sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding-top: 15px;
}

.infomenu1 {
    color: white;
}