<nav class="nav-vertical">
    <a class="nav-link" href="#Formulario">
        <div class="row">

            <div id="circulo">
                <p>1</p>
            </div>
            <h6 *ngIf="!info">Formulario</h6>
        </div>
    </a>
    <a class="nav-link firma" href="#Firma">
        <div class="row">

            <div id="circulo1">
                <p>2</p>
            </div>
            <h6 class="infomenu1" *ngIf="!info">Firma</h6>
        </div>
    </a>
    <a class="nav-link" href="#Pago">
        <div class="row">

            <div id="circulo">
                <p>3</p>
            </div>
            <h6 *ngIf="!info">Pago</h6>
        </div>
    </a>
    <a class="nav-link" href="#Descargue">
        <div class="row">

            <div id="circulo">
                <p>4</p>
            </div>
            <h6 *ngIf="!info">Descargue</h6>
        </div>
    </a>
    <a class="nav-link" [href]="contactenos">
        <div class="row">

            <mat-icon>info</mat-icon>
            <h6 *ngIf="!info">Peticiones,<br>quejas y reclamos</h6>
        </div>
    </a>
    <a class="nav-link" href="#terminos">
        <div class="row">

            <mat-icon>format_list_bulleted</mat-icon>

            <h6 *ngIf="!info">Términos y condiciones</h6>
        </div>
    </a>

</nav>