<div class="container">

    <table class="table col-sm-5 col-md-8 col-lg-10">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">CÁMARA</th>
                <th scope="col">FORMULARIO</th>
                <th scope="col">DILIGENCIADOS</th>
                <th scope="col">FIRMADOS</th>
                <th scope="col">PAGADOS</th>
                <th scope="col">
                    <mat-icon color="white" style="font-size: 15px;">check_box</mat-icon>
                    SELECCIONE PARA FIRMAR
                    <!-- <input type="checkbox" id="seleccionar-todos">SELECCIONE PARA FIRMAR -->
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let camara of camaras">

                <th>
                    <div class="btn-group">
                        <button type="button" class="btn btn-dark btn-circle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      
                    </button>
                        <div class="dropdown-menu">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">CATEGORIA</th>
                                        <th scope="col">CIUDAD</th>
                                        <th scope="col">DIRECCIÓN</th>
                                        <th scope="col">MATRÍCULA</th>
                                        <th scope="col">ESTADO</th>
                                        <th scope="col">SELECCIONE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>AGENCIA</td>
                                        <td>La Virgia</td>
                                        <td>Cra 7 #8-73</td>
                                        <td>13122</td>
                                        <td>
                                            <i class="fas fa-minus-circle" style="font-size: 20px;"></i>
                                        </td>
                                        <td>
                                            <!-- <input type="checkbox" checked> -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>AGENCIA</td>
                                        <td>La Unión</td>
                                        <td>Cl 15 #15-04</td>
                                        <td>64154</td>
                                        <td>
                                            <i class="fas fa-check-circle" style="font-size: 20px;"></i>
                                        </td>
                                        <td class="cambio">
                                            <input type="checkbox" disabled checked>
                                            <mat-icon color="accent" class="bloqueo">block</mat-icon>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>AGENCIA</td>
                                        <td>Cartago</td>
                                        <td>Cra 5 #10-109</td>
                                        <td>11523</td>
                                        <td>
                                            <i class="fas fa-hourglass-half" style="font-size: 20px;"></i>
                                        </td>
                                        <td><input type="checkbox" checked></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </th>
                <td>{{ camara.nombre }}</td>
                <td>
                    <a download="{{this.nombrearchivo}}" (click)="Descargar()" href="/home/lucasian-shaden/Documentos/documentos-ShadenAcevedo/cartacambio.odt">
                        <i class="far fa-file-pdf" style="font-size: 20px;"></i>
                    </a>
                </td>
                <td>
                    <span class="badge badge-danger" *ngIf="camara.diligenciado == 'Diligenciado 0/35'">
                        {{ camara.diligenciado}}</span>
                    <span class="badge badge-warning" *ngIf="camara.diligenciado == 'Diligenciado 30/35'">
                    {{ camara.diligenciado}}</span>
                    <span class="badge badge-success" *ngIf="camara.diligenciado == 'Diligenciado 35/35'">
                            {{ camara.diligenciado}}</span>
                </td>
                <td>
                    <span class="badge badge-danger" *ngIf="camara.firmado == 'Firmado 0/35'">
                        {{ camara.firmado}}</span>
                    <span class="badge badge-warning" *ngIf="camara.firmado == 'Firmado 30/35'">
                    {{ camara.firmado}}</span>
                    <span class="badge badge-success" *ngIf="camara.firmado == 'Firmado 35/35'">
                            {{ camara.firmado}}</span>
                </td>
                <td>
                    <span class="badge badge-danger" *ngIf="camara.pagado == 'Pagado 0/35'">
                        {{ camara.pagado}}</span>
                    <span class="badge badge-warning" *ngIf="camara.pagado == 'Pagado 30/35'">
                    {{ camara.pagado}}</span>
                    <span class="badge badge-success" *ngIf="camara.pagado == 'Pagado 35/35'">
                            {{ camara.pagado}}</span>
                </td>
                <td>
                    <!-- <input type="checkbox" name="opcion" value="uno"> -->
                    <mat-checkbox (click)="sendMessage()" color="primary"></mat-checkbox>
                </td>
            </tr>

        </tbody>
    </table>

</div>
<mat-form-field class="w-100">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscador">
</mat-form-field>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>