thead {
    background: #3f51b5;
    color: white;
}

td,
th,
thead {
    /* text-align: center; */
    font-size: 13px;
}

.badge {
    font-size: 11px;
    color: white;
}

mat-expansion-panel-header {
    width: 30px;
}

mat-expansion-panel {
    width: 100px;
}

.btn-circle {
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 1px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
    font-family: Maven pro;
    text-decoration: none;
}

.cambio {
    position: relative;
    display: inline-block;
    margin-left: 30px;
}

.cambio .bloqueo {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    margin-top: 10px;
}

.cambio:hover .bloqueo {
    display: inline;
}

table {
    width: 100%;
}